# CUDA version note (lab conda): 11.7
# Lab conda versions:
# torch==1.13.1+cu117
# torchvision==0.14.1+cu117
torch
torchvision
numpy
pandas
Pillow
opencv-python
matplotlib
scikit-learn
tqdm
wandb
segmentation-models-pytorch
thop
